@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
  font-family: Roboto;
}
body {
  margin: 0;
}

table, td{
  border: 2px solid black;
  text-align: center;
}

.link {
  text-decoration: none;
  color: white
}

.ClassMoney {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBox {
  width: 9cm;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.kidContainer {
  min-width: 340px;
}

code {
  font-family: monospace;
  border: 1px black solid;
  border-radius: 5px;
}

img {
  width: 280px;
}

.container {
  display: flex;
}

.column {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}

.column:first-child {
  border-right: 1px solid black;
}

.dialogTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
