@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
  font-family: Roboto;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table, td{
  border: 2px solid black;
  text-align: center;
}
