@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
  font-family: Roboto;
}
body {
  margin: 0;
  background-color: rgb(60, 60, 60);
}

.App, .Timetable, .ClassMoney {
  color: white;
  /* display: flex;
  flex-direction: column; */

}

table, td{
  border: 2px solid black;
  text-align: center;
}

.link {
  text-decoration: none;
  color: white;
}

.ClassMoney {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBox {
  width: 9cm;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.kidContainer {
  /* border: 2px dashed white; */
  min-width: 340px;
}

code {
  font-family: monospace;
  border: 1px black solid;
  border-radius: 5px;
  background-color: rgb(249, 249, 249);
}

img {
  width: 20%;
}

important {
  color: black;
  background-color: rgb(47, 255, 0);
  padding: 4px;
}

hr {
  border-style: solid;
  border-width: 4px;
  border-color: black;
}

hr:hover {
  animation-duration: 9s;
  animation-name: change-colors;
  animation-iteration-count: infinite;
}

@keyframes change-colors {
  0% {
    border-color: red;
  }
  20% {
    border-color: cyan;
  }
  40% {
    border-color: darkgreen;
  }
  60% {
    border-color: gold;
  }
  80% {
    border-color: magenta;
  }
  90% {
    border-color: navy;
  }
  100% {
    border-color: red;
  }
}